@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;800;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
:root{
    --text-black: #2e2e2e;
    --text-white: #fff;
    --green: #00704A;
    --yellow: #fccde2;
    --pink: #a56cc1;
}
body{
    color: var(--text-black);
}

/****** utilities ********/
.mt-3{
    margin-top: 16px;
}
.ml-3{
    margin-left: 16px;
}
.pt-3{
    padding-top: 16px;
}
.active{
    background-color: var(--green);
    padding: 5px 15px;
    border-radius: 16px;
    color: var(--text-white);
}
/******** Header ********/
header{
    width: 80%;
    margin: 0 auto;
    font-weight: bold;
    font-size: 0.9rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    height: 70px;
}
header ul{
    display: flex;
    list-style: none;
}
header a{
    color: var(--text-black);
    text-decoration: none;
    margin-left: 20px;
}
@media screen and (max-width: 500px){
    header ul{
        display: none;
    }
}
/******** main section **********/
section{
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-box{
    flex-basis: 70%;
}
.text-box p{
    width: 70%;
}
.image-box{
    flex-basis: 30%;
    display: flex;
    justify-content: flex-end;
}
.big-img{
    margin: 0 auto;
    height: 450px;
}
.social-media{
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}
.social-media i{
    margin: 10px 0;
    font-size: 30px;
    color: var(--text-white);
}
h2{
    font-size: 4em;
    line-height: 1.4em;
    color: var(--text-black); 
    font-weight: 500;
}
.special-text{
    color: var(--green);
    font-size: 5rem;
    font-weight: 900;
}
section button{
    margin-top: 20px;
    border: none;
    font-size: 1em;
}
p{
    line-height: 1.5em;
}
section .active{
    padding: 10px 10px;
    font-weight: bold;
    border-radius: 20px;
}
@media screen and (max-width: 900px){
    section{
        padding-top: 60px;
        height: auto;
        text-align: center;
        width: 80%;
    margin: 0 auto;
    }
    .section{
        flex-wrap: wrap;
    }
    .text-box p{
        width: 100%;
    }
    h2{
        font-size: 2em;
    }
    .special-text{
        font-size: 3rem;
    }
    .text-box{
        flex-basis: 100%;
    }
    .image-box{
        flex-basis: 100%;
        padding: 60px 0;
    }
}
/*********green circle***********/
/*
.circle{
    top: 0;
    right: 0;
    height: 100%;
    width: 1080px;
    position: absolute;
    background-color: var(--pink);
    clip-path: circle(600px at right 800px);
}
.yellow{
    background-color: var(--yellow);
}
.green{
    background-color: var(--green);
}
*/
/***** footer **********/
.footer{
    height: 100px;
    width: 100%;
    background-color: indianred;
}
footer{
    height: 100px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.thumb{
    position: relative;
    z-index: 3;
    height: 100px;
    margin: 0 20px;
    cursor: pointer;
}
@media screen and (max-width: 900px){
    .footer::before{
        content: "hello";
        height: 100px;
        width: 100%;
        position: absolute;
        background-color: indianred;
        transform:skewY(5deg);
    }
}

